/* Import the fonts from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Space+Grotesk:wght@400;500;600;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-orange: #c1510e;
  --color-yellow: #e1a40c;
  --color-light-yellow: #ebba09;
  --color-black: #303030;
  --color-grey: #80858f;
  --color-white: #fff9f4;
  --color-beige: #efede7;
  margin: 0;
  width: 100%;
}
/* Clases de color de texto */
.color-black {
  color: var(--color-black);
}
.color-white {
  color: var(--color-white);
}
.color-grey {
  color: var(--color-grey);
}
.color-orange {
  color: var(--color-orange);
}
.color-yellow {
  color: var(--color-yellow);
}

.color-beige {
  color: var(--color-beige);
}
.color-light-yellow {
  color: var(--color-light-yellow);
}

.container {
  max-width: 1200px !important;
  width: 100%;
  padding: 3rem 2rem;
  margin: 0 auto;
  flex: 1;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2,
h3,
.navbar-link,
.navbar-brand {
  font-family: "Space Grotesk", sans-serif !important;
}

p,
body,
h4,
h5,
h6,
button {
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif !important;
}

h1 {
  font-size: 3.75rem !important;
  line-height: 1.2;
  padding-bottom: 20px;
}

h2 {
  font-size: 3rem !important;
  line-height: 1;
  padding-bottom: 20px;
}

h3 {
  font-size: 1.25rem !important;
  font-weight: 800 !important;
  line-height: 1.2;
  padding-bottom: 20px;
}

h4 {
  font-size: 1.5rem !important;
  font-weight: 300;
  line-height: 1.2;
}

h5 {
  font-size: 1.3rem !important;
  font-weight: 200;
  line-height: 1.3;
  padding-bottom: 5px;
}

h6 {
  font-size: 1.1rem !important;
  font-weight: 200;
  line-height: 1.5;
  padding-bottom: 5px;
}

p {
  font-size: 1rem;
  font-weight: 300;
  text-align: justify;
}

body {
  margin: 0;
  height: 100vh;
  min-width: 320px;
  display: flex;
  flex-direction: column;
}

a {
  font-weight: 400;
}
a:hover {
  font-weight: 600;
}

@media (max-width: 1200px) {
  .container {
    padding: 3rem 2rem;
  }
}

@media (max-width: 600px) {
  .container {
    padding: 3rem 2rem;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}

@keyframes marquee2 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-150%);
  }
}

.animate-marquee2 {
  animation: marquee2 60s linear infinite;
}

.btn-base {
  @apply bg-[var(--color-yellow)] font-semibold leading-6 text-light hover:bg-[var(--color-black)] shadow-sm transition duration-700 text-base my-4 rounded-md;
}

.btn {
  @apply btn-base py-2 px-8;
}
.btn-wide {
  @apply btn-base py-2 px-16;
}
.btn-fullwidth {
  @apply btn-base flex w-full justify-center py-2;
}

.btn:hover,
.btn-fullwidth:hover {
  transform: scale(1.02);
}

.field {
  @apply block w-full rounded-md border-0 py-1.5 text-[var(--color-black)] shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-secondary sm:text-sm sm:leading-6 !important;
}
