/* Import the fonts from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Space+Grotesk:wght@400;500;600;800&display=swap");

:root {
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1200px !important;
  width: 100%;
  padding: 3rem 2rem;
  margin: 0 auto;
  flex: 1;
}

h1,
h2,
h3,
.navbar-link,
.navbar-brand {
  font-family: "Space Grotesk", sans-serif;
}

p,
body,
button {
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 40px;
  padding-bottom: 20px;
}

h2 {
  font-size: 3em;
  padding-bottom: 20px;
}

h3 {
  font-size: 20px !important;
  font-weight: 800 !important;
  line-height: 1.5;
  padding-bottom: 20px;
}
p {
  font-weight: 300;
  text-align: justify;
}

body {
  margin: 0;
  height: 100vh;
  min-width: 320px;
  display: flex;
  flex-direction: column;
}
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  font-weight: semi-bold;
}
a:hover {
  font-weight: bold;
}

@media (max-width: 1200px) {
  .container {
    padding: 3rem 2rem;
  }
}

@media (max-width: 600px) {
  .container {
    padding: 3rem 2rem;
  }
}
