/* Base styles */
.footer {
  background-color: #c1510e;
  color: white;
  padding: 2rem 2rem;
  text-align: center;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  text-align: left;
}

.footer-section h3 {
  color: #fff;
}

.footer-logo {
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
}

.footer-section a {
  color: white;
  text-decoration: none;
  transition: all 0.3s ease;
}

.footer-section a:hover {
  font-weight: bold;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 0.5rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
  margin-top: 1rem;
}

.contact-form input[type="email"] {
  width: calc(100% - 2rem); /* Adjust input width */
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  margin-bottom: 0.5rem; /* Space between input and button */
}

.contact-form button {
  padding: 0.75rem 2rem;
  background-color: #ebba09;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #303030;
}

.legal {
  margin-top: 2rem;
  text-align: left;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.legal ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.legal ul li {
  display: inline-block;
  margin-right: 1rem;
}

.legal a {
  color: white;
  text-decoration: none;
}

.legal a:hover {
  font-weight: bold;
}

.legal p {
  font-size: 0.875rem;
  margin-top: 0.5rem;
}

.brand-container {
  display: flex;
  align-items: center;
}

.footer-socials-container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: left;
  margin-bottom: 1rem;
}

.footer-brand {
  color: white;
  font-size: 1rem;
  font-weight: bold;
}

.footer-text {
  font-size: 0.875rem;
}

.footer-socials {
  gap: 0.5rem;
  display: flex;
  justify-content: flex-start; /* Align social icons to the left */
  align-items: center;
  margin-top: 1rem;
}

.footer-socials-img {
  width: 2rem;
  height: 2rem;
}

/* Media queries for responsiveness */

@media (max-width: 1024px) {
  .footer-content {
    grid-template-columns: repeat(
      3,
      1fr
    ); /* Three columns on screens up to 1024px */
  }
}

@media (max-width: 768px) {
  .footer-content {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* Two columns on screens up to 768px */
  }
}

@media (max-width: 480px) {
  .footer-content {
    grid-template-columns: 1fr; /* One column on screens up to 480px */
  }

  .footer-section {
    padding: 0 1rem; /* Add padding to sections for better spacing */
  }

  .contact-form input[type="email"] {
    width: calc(100% - 1rem); /* Adjust input width */
  }

  .navbar-brand {
    text-align: left;
    font-size: 0.7rem;
  }

  .navbar-logo {
    width: 3rem;
    height: auto;
  }
}
