/* Base styles */

.footer {
  padding: 0 2rem;
}

.footer-content {
  display: grid;
  grid-template-columns: 2fr 1.2fr 1.8fr 1.5fr;
  gap: 0.5rem;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-logo {
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
}
.footer-brand {
  font-weight: bold;
}
.footer-section {
  padding-right: 20px;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 0.5rem;
}

.legal {
  margin-top: 2rem;
  text-align: left;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.legal ul li {
  display: inline-block;
  margin-right: 1rem;
  padding-bottom: 0px¡¡;
}

.legal p {
  font-size: 0.875rem;
  margin-top: 0.5rem;
}

.brand-container {
  display: flex;
  align-items: center;
}

.footer-socials {
  gap: 0.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
}

/* Media queries for responsiveness */
/* Tablet horizontal */

@media (max-width: 1024px) {
  .footer-content {
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
}
/* Tablet vertical */
@media (max-width: 868px) {
  .footer-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* Mobile */
@media (max-width: 480px) {
  .footer-content {
    grid-template-columns: 1fr;
  }

  .footer-section {
    padding: 0 1rem;
  }

  .contact-form input[type="email"] {
    width: calc(100% - 1rem);
  }

  .navbar-brand {
    text-align: left;
    font-size: 0.7rem;
  }

  .navbar-logo {
    width: 3rem;
    height: auto;
  }
}
