.navbar {
  width: 100%;
  background-color: #c1510e;
  padding: 1rem 1rem;
  position: relative;
  z-index: 100;
  transition: top 0.3s, background-color 0.3s;
}

.navbar-hidden {
  top: 0px; /* Adjust this value based on your navbar height */
}

.navbar-fixed {
  position: fixed;
  top: 0;
}

.navbar-transparent {
  background-color: rgba(193, 80, 14, 0.827);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0rem 1rem;
}

.navbar-brand-container {
  display: flex;
  align-items: center;
  padding-right: 1rem;
}

.navbar-logo {
  width: 5rem;
  height: auto;
  margin-right: 1rem;
}

.navbar-brand {
  color: white;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.2;
}

.navbar-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-link {
  margin-left: 20px;
  position: relative;
}

.navbar-link a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  padding-bottom: 5px; /* Adjust as needed */
}

.navbar-link a::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.navbar-link a:hover::after,
.navbar-link a.active::after {
  transform: scaleX(1);
}

.navbar-login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.navbar-login-icon {
  background: none;
  border: none;
  cursor: pointer;
}

.user-icon {
  width: 25px;
  height: 25px;
}

.navbar-login-dropdown {
  position: absolute;
  top: 80%;
  right: auto;
  margin-right: 80px;
  width: 120px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  z-index: 1000;
}

.navbar-login-dropdown a {
  display: block;
  padding: 10px 20px;
  color: #333;
  text-decoration: none;
}

.navbar-login-dropdown a:hover {
  background-color: #f0f0f0;
}

@media (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
  }

  .navbar-brand-container {
    padding: 1rem 0;
  }

  .navbar-brand {
    text-align: left;
    font-size: 0.7rem;
  }

  .navbar-logo {
    width: 3rem;
    height: auto;
  }

  .navbar-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0rem;
    margin-top: 1rem;
  }

  .navbar-link {
    margin-right: 1rem;
  }

  .navbar-link a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    padding-bottom: 5px;
    position: relative;
  }

  .navbar-link a::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }

  .navbar-link a:hover::after,
  .navbar-link a.active::after {
    transform: scaleX(1);
  }

  .navbar-login-container {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
  }

  .navbar-login-icon {
    margin-right: 1rem;
  }

  .navbar-login-dropdown {
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    margin-right: 0;
  }

  .navbar-login-dropdown a {
    display: block;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
  }

  .navbar-login-dropdown a:hover {
    background-color: #f0f0f0;
  }
}
